parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - tests/*
    stubFiles:
        - stubs/BelongsToMany.stub
        - stubs/EloquentBuilder.stub
        - stubs/QueryBuilder.stub
        - stubs/Relation.stub
    ignoreErrors:
        -
            message: '#Call to protected method \w+\(\) of class Illuminate\\Database\\Eloquent\\Builder.#'
            path: src/Mixins/JoinsRelationships.php
        -
            message: '#Access to protected property Illuminate\\Database\\Eloquent\\Builder::\$\w+.#'
            path: src/Mixins/JoinsRelationships.php
















